/* Places the Network div across the whole page behind everything */
.Network {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.Highlighted {
    stroke: rgb(255, 200, 0);
    stroke-width: 3;
}