/*
* Global Styling
* --------------
*/


/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

/* VARIABLES */
:root {
    --london: #D06262;
    --malmo: #4481E0;
    --other: #F6B26B;
}

body {
    background-color:  rgb(192, 192, 192);
    margin: 0
}

#root {
    margin: 0
}

/* TEXT FORMATTING */
p, h1, h2, h3, h4, h5 {
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
}

text {
    font-family: "PT Sans Narrow", sans-serif;
}